<footer class="site-footer">
	<div class="footer-information" style="padding-bottom: 0px!important; background-color: orange">
		<div  style="margin-bottom: 0px;">
			<div class="row">
				<div class="col-md-12">
					<p style="border-top: solid 1px rgb(159, 152, 173);"></p>
					<p style="text-align: center;">
						BookRentingSystem
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
